@charset "UTF-8";

/* reset */
* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

img {
    vertical-align: top;
}

/* 공통속성 */
.flex {
    display: flex;
}

.align {
    align-items: center;
}

.justify-c {
    justify-content: center;
}

.justify-b {
    justify-content: space-between;
}

.wrap {
    width: 1200px;
    margin: auto;
    height: 100%;
}

body{
    position: relative;
}

/* header **********************/
header {
    height: 100px;
    width: 100%;
    background: #000d3d;
}

nav {
    width: 60%;
    align-self: flex-end;
}

nav a {
    display: block;
}

li.main-menu {
    flex: 1;
    text-align: center;
    position: relative;
}

li.main-menu>a {
    padding: 10px;
    color: #fff;
    font-size: 18px;
}

li.main-menu:hover>a {
    background: #202d5b;
    color: #fff;
}

ul.sub-menu {
    position: absolute;
    width: 100%;
    display: none;
    z-index: 99;
}

ul.sub-menu li a {
    padding: 10px;
    font-size: 18px;
    background: #202d5b;
    color: #fff;
}

ul.sub-menu li :hover {
    background: #ffffff;
    color: #000;
}

/* slide **********************/
.slide-container {
    position: relative;
    height: 300px;
    width: 100%;
    overflow: hidden;
}

.slide-wrap {
    position: relative;
}

.slide {
    position: relative;
}

.summary {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 10px;
    font-size: 30px;
    color: #fff;
    background: rgba(0, 0, 0, .5);
    width: 100%;
}

/* contants */
.contants {
    height: 200px;
}

.contants>div {
    width: 33.333%;
}

.banner {
    position: relative;
}

.link {
    position: relative;
}

.col {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 13, 61, .5);
    color: #fff;
    padding: 10px;
    font-size: 18px;
    border-radius: 50px;
}

.col:hover {
    background: #000d3d;
}

/* tab-menu */
.tab-menu ul {
    margin-left: 15px;
    margin-top: 5px;
    display: flex;
    margin-bottom: -1px;

}

.tab-menu li {
    display: inline-block;
    border: 1px solid #000;
    padding: 7px;
    margin-left: 1px;
    border-radius: 10px 10px 0 0;
}

.tab-menu li.on {
    background: #202d5b;
    color: #fff;
}

.tabs {
    height: calc(200px - 44px);
    border: 1px solid #000;
    position: relative;
}

.tab {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
}

.tab.on {
    display: block;
}

.notice li a {
    display: flex;
    justify-content: space-between;
    padding: 7px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.notice li {
    border-bottom: 1px solid #aaa;
}

.notice li :hover {
    background: #202d5b;
    color: #fff;
}

.gallery {
    border: 1px solid #0f0;
}

.gallery ul {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    gap: 20px;
}

.gallery li img {
    width: 100px;

}

/* footer */
footer {
    height: 100px;
    background: #000d3d;
    color: #fff;
}

.footer {
    display: flex;
    align-items: center;

}

.f-logo {
    width: 20%;
}

.f-detail {
    width: 80%;
    text-align: center;
}


.f-menu ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 5px;
}

.popup {
    width: 25%;
    height: 350px;
    border: 2px solid #000d3d;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    display: none;
}

.popup h2 {
    font-size: 24px;
    text-align: center;
    padding: 30px;

}
.popup p {
    padding: 30px 20px;
    text-align: center;
}

a.close{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background: #aaaaaa;
    padding: 5px;
    margin: 10px;

}